.playing {
    background-color: green;
    color: white;
}

.not-playing {
    background-color: red;
    color: white;
}

.undecided {
    background-color: yellow;
    color: black;
}
.red-button{
    background-color: red;
    color: white;
}

.btn-add{
    background-color: green;
    color: white;
}